<div class="manifestation-search-bar">
    <ul class="search-bar-content left">
        <li>
            <div class="input-holder">
                <i class="navbar-toggler-icon fa fa-user-circle search-icon"></i>
                <p class="input-text-value">FIRSTNAME</p>
                <input type="text" class="input-styled" (blur)="blurInput($event)" (focus)="focusInput($event)" id="searchFirstname">
            </div>
        </li>
        <li>
            <div class="input-holder">
                <i class="navbar-toggler-icon fa fa-user-circle search-icon"></i>
                <p class="input-text-value">LASTNAME</p>
                <input type="text" class="input-styled price" (blur)="blurInput($event)" (focus)="focusInput($event)" id="searchLastname">
            </div>
        </li>
        <li>
            <div class="input-holder">
                <i class="navbar-toggler-icon fa fa-user-circle search-icon"></i>
                <p class="input-text-value">EMAIL</p>
                <input type="text" class="input-styled name" (blur)="blurInput($event)" (focus)="focusInput($event)" id="searchEmail">
                <button class="searchButton" (click)="searchAdmins()" data-toggle="tooltip" data-placement="top" title="Search admins"><i class="navbar-toggler-icon fa fa-search"></i></button>
            </div>
        </li>
        <li>
            <div class="input-holder">
                <button (click)="addNewAdmin()" class="newButton" data-toggle="tooltip" data-placement="top" title="Add new admin">Create admin</button>
            </div>
        </li>
    </ul>
</div>

<div class="row content-holder">
  <table class="table">
    <thead><tr><th>Email</th><th>Firstname</th><th>Lastname</th><th></th></tr></thead>
    <tbody *ngFor="let admin of admins;">
      <tr>
        <td>{{admin.email}}</td>
        <td>{{admin.firstname}}</td>
        <td>{{admin.lastname}}</td>
        <td><button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="Delete admin" data-toggle="tooltip" data-placement="top" title="Delete admin"(click)="deleteAdmin(admin.id)"><img src="assets/images/deleteUser.png"/></button></td>
      </tr>
    </tbody>
  </table>
</div>

<app-pagination [numberOfPages]="numberOfPages" (pageSelected)="searchAdmins($event)"></app-pagination>
