
<nav id="navbar" class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand nav-white-color" routerLink="">
      m-booking
    </a>

    <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
      <span class="navbar-toggler-icon"></span>
    </button>


    <div class="collapse navbar-collapse" [ngClass]="{'show' : navbarOpen}">
      <ul class="navbar-nav ml-auto">

        <li *ngIf="!loggedIn" id="loginBtn" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/login">Login</a>
        </li>

        <li *ngIf="!loggedIn" id="registerBtn" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/register">Register</a>
        </li>

        <li *ngIf="systemAdmin" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/manage-admins">Admins</a>
        </li>

        <li *ngIf="systemAdmin" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/manage-users">Users</a>
        </li>

        <li *ngIf="systemAdmin" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/reports">Reports</a>
        </li>

        <li *ngIf="basicAdmin" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/manage-locations">Locations</a>
        </li>

        <li *ngIf="basicAdmin" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/manage-manifestation">New manifestation</a>
        </li>

        <li *ngIf="basicAdmin" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/manifestations">Manifestations</a>
        </li>

        <li *ngIf="customer" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/reservations">My Reservations</a>
        </li>

        <li *ngIf="loggedIn" id="profileBtn" class="nav-item">
          <a class="nav-link nav-white-color" routerLink="/profile">Profile</a>
        </li>

        <li *ngIf="loggedIn" class="nav-item">
          <a class="nav-link nav-white-color" style="cursor: pointer;" (click)="logout()">Logout</a>
        </li>

      </ul>
    </div>
</nav>

<!-- Toaster used to display messages -->
<div class="card text-white bg-dark mb-3" id="toaster">
  <div class="card-header" id="toaster-header"></div>
  <div class="card-body">
    <p class="card-text" id="toaster-message">
    </p>
  </div>
</div>

<router-outlet></router-outlet>
