.lock-btn {
    font-weight: 600;
    font-size: 14px;
}

.total-selected {
    color: white;
    margin-left: 22px;
    letter-spacing: 1px;
    font-size: 14px;
}

.price-holder {
    position: relative;
}

.price-text {
    position: relative;
    color: white;
    pointer-events: none;
    margin-bottom: 0 !important;
}

.price-input {
    border: none;
    border-bottom: 2px solid white;
    padding: 6px;
    outline: none;
    background: transparent;
    font-size: 14px;
    color: white;
    width: 22ex;
}   

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance:textfield;
}