<div class="total-selected" *ngIf="isEditing">
    {{totalSelected + 1}} / {{section.sectionRows * section.sectionColumns}}
</div>
<table class="section-holder" #sectionHolder [innerHtml]="htmlSectionRowsAndColumns">
    
</table>
<div class="editing-holder" *ngIf="isEditing">
    <div class="btn" (click)="subtractTotalSelected()">
        <i class="fa fa-minus" aria-hidden="true" style="pointer-events: none;"></i>
    </div>
    <div class="btn" (click)="addTotalSelected()" style="margin-right: 15px;">
        <i class="fa fa-plus" aria-hidden="true" style="pointer-events: none;"></i>
    </div>
    <div class="btn" (click)="enableDisableSection($event)">
        <i class="fa fa-close" aria-hidden="true" style="pointer-events: none;" #enableDisableIcon></i>
    </div>
    <div *ngIf="isEditing" class="price-holder">
        <p class="price-text"> Ticket price (USD):</p>
        <input type="number" class="price-input"  [(ngModel)]="ticketPrice"
            (focusout)="sendSelectedSeatsEdit()" (keydown)="disableExponent($event)"/>
    </div>
</div>



<label *ngIf="!isEditing && manifestationSection != null && manifestationSection.price != 0" class="ticket-price">
    Price per ticket: {{manifestationSection?.price}} USD
</label>
