<div class="s-section seating-section" app-seating-section [isEditing]="isEditing" [section]="displaySections[0].section"></div>
<div class="s-section seating-section" app-seating-section [isEditing]="isEditing" [section]="displaySections[1].section"></div>
<div class="s-section seating-section" app-seating-section [isEditing]="isEditing" [section]="displaySections[2].section"></div>
<div class="s-section seating-section" app-seating-section [isEditing]="isEditing" [section]="displaySections[3].section"></div>
