<div class="container-full">
    <div class="row home-splash d-flex align-content-center justify-content-center">
        <div class="home-splash-bg-holder">
            <div #homeBg1 class="home-splash-bg"></div>
        </div>
        <div class="dark-layer"></div>
        <div class="splash-text" style="width: 100%;text-align: center;"><span style="font-size: 0px;">&nbsp;</span>m-booking</div>
        <div class="explore-button noselect" routerLink="/manifestations"><span style="font-size: 0px;">&nbsp;</span>EXPLORE<span style="font-family: Glyphicon;" class="glyphicon glyphicon-search"></span></div>
    </div>

    <div class="blank-row overflow-hidden">
        <div #scrollAmount class="scroll-amount-indicator"></div>
    </div>

    <div class="row categories-holder">
        <div (mouseenter)="enter($event)" (mouseleave)="leave($event)" class="col-lg-4 category-holder d-flex align-items-center overflow-hidden p-0 noselect">
            <div class="category-background-holder">
                <div class="category-1-image"></div>
                <div class="dark-layer-blue"></div>
            </div>
            <div class="category-content-holder">
                <h1 class="category-title">SPORT</h1>
                <p class="category-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam placerat tellus sed eros consequat, sit amet ultrices eros fermentum.
                    Nullam sed diam pharetra, sollicitudin libero quis, venenatis nisi. 
                    Cras ultrices felis eu nisi blandit, sed finibus justo tempus. Proin 
                    ipsum ipsum, pellentesque ac dolor quis, rutrum tincidunt est. 
                    Sed hendrerit faucibus congue.</p>
            </div>
        </div>

        <div (mouseenter)="enter($event)" (mouseleave)="leave($event)" class="col-lg-4 category-holder d-flex align-items-center overflow-hidden p-0 noselect">
            <div class="category-background-holder">
                <div class="category-2-image"></div>
                <div class="dark-layer-blue"></div>
            </div>
            <div class="category-content-holder">
                <h1 class="category-title">CULTURE</h1>
                <p class="category-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam placerat tellus sed eros consequat, sit amet ultrices eros fermentum.
                    Nullam sed diam pharetra, sollicitudin libero quis, venenatis nisi. 
                    Cras ultrices felis eu nisi blandit, sed finibus justo tempus. Proin 
                    ipsum ipsum, pellentesque ac dolor quis, rutrum tincidunt est. 
                    Sed hendrerit faucibus congue.</p>
            </div>
        </div>

        <div (mouseenter)="enter($event)" (mouseleave)="leave($event)" class="col-lg-4 category-holder d-flex align-items-center overflow-hidden p-0 noselect">
            <div class="category-background-holder">
                <div class="category-3-image"></div>
                <div class="dark-layer-blue"></div>
            </div>
            <div class="category-content-holder">
                <h1 class="category-title">ENTERTAINMENT</h1>
                <p class="category-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nam placerat tellus sed eros consequat, sit amet ultrices eros fermentum.
                    Nullam sed diam pharetra, sollicitudin libero quis, venenatis nisi. 
                    Cras ultrices felis eu nisi blandit, sed finibus justo tempus. Proin 
                    ipsum ipsum, pellentesque ac dolor quis, rutrum tincidunt est. 
                    Sed hendrerit faucibus congue.</p>
            </div>
        </div>
    </div>
</div>

