<div *ngIf="layout?.name == 'STADIUM'" class="manifestation-layout stadium"
    app-stadium-layout 
    [isEditing]="true" 
    [displaySections]="displaySections"
    [updateEdit]="notifyUpdateEdit" 
    (notifySeatsSelectionEdit)="retrieveSelectedSeatsEdit($event)"
    (notifyNoSeatsSelectionEdit)="retrieveSelectedNoSeatsEdit($event)">
</div>

<div *ngIf="layout?.name == 'THEATER'" class="manifestation-layout stadium"
    app-theater-layout 
    [isEditing]="true" 
    [displaySections]="displaySections"
    [updateEdit]="notifyUpdateEdit" 
    (notifySeatsSelectionEdit)="retrieveSelectedSeatsEdit($event)"
    (notifyNoSeatsSelectionEdit)="retrieveSelectedNoSeatsEdit($event)">
</div>

<div *ngIf="layout?.name == 'OPEN_SPACE'" class="manifestation-layout stadium"
    app-stadium-layout 
    [isEditing]="true" 
    [displaySections]="displaySections"
    [updateEdit]="notifyUpdateEdit" 
    (notifySeatsSelectionEdit)="retrieveSelectedSeatsEdit($event)"
    (notifyNoSeatsSelectionEdit)="retrieveSelectedNoSeatsEdit($event)">
</div>

