<div class="standing-section-holder" #sectionHolder [style.height]="isEditing ? 'calc(100% - 40px)' : '100%'">
    <div class="total-space" *ngIf="isEditing">
        {{totalSelected + 1}} / {{totalSpace}}
    </div>
    <div class="current-selected" *ngIf="!isEditing">
        Selected: {{userCurrentlySelected}}
    </div>
    <table class="standing-section-tickets" *ngIf='!isEditing'>
        <tr>
            <td (click)="subtractUserCurrentlySelected()">
                <i class="fa fa-minus" aria-hidden="true"></i>
            </td>
            <td (click)="addUserCurrentlySelected()">
                <i class="fa fa-plus" aria-hidden="true"></i>
            </td>
        </tr>
    </table>
</div>
<div class="editing-holder" *ngIf="isEditing">
    <div class="btn" (click)="subtractTotalSelected()">
        <i class="fa fa-minus" aria-hidden="true" style="pointer-events: none;"></i>
    </div>
    <div class="btn" style="margin-right: 15px;" (click)="addTotalSelected()">
        <i class="fa fa-plus" aria-hidden="true" style="pointer-events: none;"></i>
    </div>
    <div class="btn" (click)="enableDisableSection($event)">
        <i class="fa fa-close" aria-hidden="true" style="pointer-events: none;" #enableDisableIcon></i>
    </div>
</div>