div.main-container {
    position: absolute;
    width: 100%;
    margin: 0;
}

h1.title {
    text-align: center;
    padding-bottom: 2ex;
}


small.error-message {
    color: red;
    font-size: 15px;
}

div.centered-content {
    position: relative;
    top: 10ex;
    width: 40%;
    left: 30%;
    color: white;
}

#background-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 140ex;
    width: 100%;
    background-color: #011729;
}

