<div id="background-cover"></div>

<div class="main-container">
    
    <div class="centered-content">
        <h1 class="title"> {{ title }} </h1>
    
        <form [formGroup]="manifestationForm">

            <div class="form-group">
                <label>Name: </label>
                <input class="form-control" type="text" formControlName="name" placeholder="Enter name...">
                <small *ngIf="manifestationForm.controls['name'].touched
                    && manifestationForm.controls['name'].hasError('required')" class="error-message">
                    Name is required
                </small>
            </div>

            <div class="form-group">
                <label>Description: </label>
                <textarea class="form-control" type="text" rows="3"
                    formControlName="description" placeholder="Enter description...">
                </textarea>
                <small class="error-message" *ngIf="manifestationForm.controls['description'].touched
                    && manifestationForm.controls['description'].hasError('required')">
                    Description is required
                </small>
            </div>

            <label>Manifestation days: </label>

            <div class="form-row">
                <div class="col-md-6 mb-3">
                    <input type="date" class="form-control" id="manifestation-date">
                </div>
                <div class="col-md-4 mb-3">
                    <button class="btn btn-secondary" (click)="addManifestationDate()">Add day</button>
                </div>
            </div>
            
            <div class="form-group">
                <label>Type: </label>
                <select class="form-control" formControlName="type">
                    <option *ngFor="let type of manifestationTypes; index as i" [value]="i">
                         {{ type }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <label>Location: </label>
                <select class="form-control" formControlName="locationId">
                    <option *ngFor="let location of locations" [value]="location.id">
                        {{ location.name }}
                    </option>
                </select>
            </div>

            <div class="form-group">
                <div class="custom-control custom-checkbox my-1 mr-sm-2">
                    <input type="checkbox" class="custom-control-input" id="allow-reservations"
                        formControlName="reservationsAllowed" (click)="displayReservationData()">
                    <label class="custom-control-label" for="allow-reservations"> Allow reservations </label>
                </div>
            </div>

            <div class="form-group" class="hidden-element">
                <label>Maximum reservations per user: </label>
                <input class="form-control" type="number" placeholder="Enter max reservations..."
                    formControlName="maxReservations" min="1" max="20" onkeydown="return false">
            </div>

            <div class="form-group" class="hidden-element">
                <label>Last day of reservation: </label>
                <input class="form-control" type="date" placeholder="Select last reservation day..."
                    formControlName="reservableUntil">
            </div>

            <br/>

            <button type="submit" class="btn btn-primary" (click)="submitManifestation()"> Submit </button>
        </form>  
    </div>

    <div id="manifestation-dates-holder" class="pop-up">
        <strong id="close-pop-up" (click)="closePopUp()">-></strong>
        <ul>
            <li *ngFor="let date of getManifestationDays.controls; index as i">
                 {{ date.value }} &nbsp;
                <span id="remove-date" (click)="removeManifestationDate(i)">X</span>
            </li>
        </ul>
    </div>

</div>

