
<div class="col-lg-12 content-holder-item">
    <div class="col-lg-12 name">{{name}}</div>
    <p class="col-lg-12 description">{{description}} </p>
    <div class="row">
        <div class="col-lg-7">
            <div class="col-lg-12 other">LOCATION: {{location}}</div>
            <div class="col-lg-12 other">DATE: {{date}}</div>
            <div class="col-lg-12 other">PRICE: {{price}}</div>
        </div>
        <div class="col-lg-5">
            <div class="button" [routerLink]="['/manifestations', id]">
                <div class="button-text">VISIT</div>
            </div>
        </div>
    </div>
</div>

