<!--<div *ngIf="manifestation.images.length > 0" class="manifestation-item-background fadein-opacity" [style.opacity]="pageOpacity"
    [style.background-image]="'url(data:image/png;base64,' + manifestation.images[0].image + ')'" 
    [style.background-repeat]="'no-repeat'"
    [style.background-size]="'cover'"
    [style.background-color]="'black'">
    <div class="manifestation-item-background" style="background-color: rgba(9, 54, 54, 0.80);"></div>
</div>-->

<div class="manifestation-images" *ngIf="manifestation && manifestation.images.length > 0" 
    class="manifestation-item-background fadein-opacity" [style.opacity]="pageOpacity">

    <div *ngFor="let img of manifestation.images; let i = index" class="manifestation-item-background image-transition" [style.opacity]="i == imageIndex ? 1 : 0"
        [style.background-image]="'url(data:image/png;base64,' + manifestation.images[i].image + ')'" 
        [style.background-repeat]="'no-repeat'"
        [style.background-size]="'cover'"
        [style.background-color]="'black'">
        <div class="manifestation-item-background" style="background-color: rgba(9, 54, 54, 0.80);"></div>
    </div>

</div>


<div class="man-container row fadein-opacity" [style.opacity]="pageOpacity">
    <div class="col-lg-12 man-container-1 d-flex align-content-center justify-content-center">
        <div class="man-center-content">
            <h1 class="name">{{name}}</h1>
            <p class="description">{{description}}</p>
            <div *ngIf="date" class="date">Reservable until: {{date}}</div>
            <div *ngIf="manifestation && !manifestation.reservationsAllowed" class="date">Manifestation is not reservable</div>
        </div>
    </div>
    <div class="col-lg-12">
        <div class="date-info-holder">
            <div class="d-inline-block" style="font-size: 4rem;letter-spacing:5px;color: white;margin-bottom: 20px;">Reservation</div>
            <div></div>
            <p class="d-inline-block" style="margin-right: 20px;letter-spacing: 1px;">Choose manifestation day:</p>
            <select id="date-selection" (change)="manifestationDayChanged($event.target.value)">
                <option *ngFor="let day of manifestationDays" value={{day.id}}>{{day.date}}</option>
            </select>
            <p *ngIf="manifestation" class="d-inline-block" style="margin-left: 20px;letter-spacing: 1px;">Max reservations per day: <span>{{manifestation.maxReservations}}</span></p>
        </div>
    </div>
    <div class="col-lg-12 man-container-2 d-flex align-content-center justify-content-center">
        <div *ngIf="layoutName == 'STADIUM'" class="manifestation-layout stadium" app-stadium-layout [isEditing]="false" [displaySections]="displaySections" [reservation]="notifyReservation" (notifySeatSelection)="sendSelectedSeats($event)" (notifyNoSeatsSelection)="sendSelectedNoSeats($event)"></div>
        <!--<div *ngIf="layoutName == 'STADIUM'" class="manifestation-layout stadium" app-stadium-layout [isEditing]="true" [displaySections]="displaySections" [updateEdit]="notifyUpdateEdit"  (notifySeatsSelectionEdit)="retrieveSelectedSeatsEdit($event)"  (notifyNoSeatsSelectionEdit)="retrieveSelectedNoSeatsEdit($event)"></div>-->
        <div *ngIf="layoutName == 'OPEN_SPACE'" class="manifestation-layout open-space" app-open-space-layout [isEditing]="false" [displaySections]="displaySections" [reservation]="notifyReservation" (notifySeatSelection)="sendSelectedSeats($event)" (notifyNoSeatsSelection)="sendSelectedNoSeats($event)"></div>
        <div *ngIf="layoutName == 'THEATER'" class="manifestation-layout theater" app-theater-layout [isEditing]="false" [displaySections]="displaySections" [reservation]="notifyReservation" (notifySeatSelection)="sendSelectedSeats($event)" (notifyNoSeatsSelection)="sendSelectedNoSeats($event)"></div>
    </div>
    <div *ngIf='reservationDetails.length > 0' class="reservation-details-holder">
        <table class="display-selected-reservation-details">
            <tr>
                <td>Name</td>
                <td>Date</td>
                <td>Price</td>
                <td>Column</td>
                <td>Row</td>
            </tr>
            <tr *ngFor='let detail of reservationDetails'>
                <td>{{getSectionById(getManifestationSectionById(detail.manifestationSectionId).selectedSectionId).name}}</td>
                <td>{{getManifestationDayById(detail.manifestationDayId).date}}</td>
                <td>{{getManifestationSectionById(detail.manifestationSectionId).price}}</td>
                <td [attr.colspan]="detail.isSeating ? 1 : 2">{{detail.isSeating ? detail.column + 1 : 'Standing'}}</td>
                <td>{{detail.isSeating ? detail.row + 1 : null}}</td>
            </tr>
        </table>
        <div class="d-flex align-content-end mt-4">
            <button *ngIf="authenticationService.isLoggedIn() && manifestation.reservationsAllowed" (click)="reserveManifestation()" value="Reserve" id="reservation-button" class="reserve-button">Reserve</button>
        </div>
        
    </div>
</div>
