<div class="man-container row">
    <div class="col-lg-12 man-container-1 d-flex align-content-center justify-content-center">
        <div class="man-center-content">
            <h1 class="name">{{name}}</h1>
            <p class="description">{{description}}</p>
            <div class="date">Reservable until: {{date}}</div>
        </div>
    </div>
    <div class="col-lg-12 man-container-2 d-flex align-content-center justify-content-center">
        <div *ngIf="true" class="manifestation-layout stadium" app-stadium-layout [isEditing]="false"></div>
        <div *ngIf="false" class="manifestation-layout open-space" app-open-space-layout [isEditing]="false"></div>
        <div *ngIf="false" class="manifestation-layout theater" app-theater-layout [isEditing]="false"></div>
    </div>
    
</div>
