<div></div>
<div class="s-section seating-section" app-seating-section [isEditing]="isEditing" [column]="10" [row]="5" (notifySeatSelection)="sendSelectedSeats($event)"></div>
<div></div>
<div class="s-section seating-section" app-seating-section [isEditing]="isEditing" [column]="10" [row]="12"></div>
<div class="s-section standing-section" app-standing-section [isEditing]="isEditing"></div>
<div class="s-section seating-section" app-seating-section [isEditing]="isEditing" [column]="10" [row]="12"></div>
<div></div>
<div class="s-section seating-section" app-seating-section [isEditing]="isEditing" [column]="10" [row]="5"></div>
<div></div>